*{
   padding:0;
   margin:0;
   vertical-align:baseline;
   list-style:none;
   border:0
}
.container{
   display: grid;
   width: 250px;
   margin: 30px auto;
   background: #C8E8D5;
   box-shadow: #000 5px 5px 20px;
   border-radius: 10px;
   text-align: center;
   padding: 10px;
}
.tituloFormulario{
   padding-bottom: 10px;
}
.formulario{
   display: grid;
   grid-template-columns: auto 1fr;
   grid-gap: 10px;

}
.containerListas{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   /* grid-gap: 10px; */
   padding: 10px;
   width: 800px;
   margin: 30px auto;
   background: #C8E8D5;
   box-shadow: #000 5px 5px 20px;
   border-radius: 10px;
   text-align: center;
}

textarea{
	height: 200;
	width: 140;
	border-radius: 5px;
   font-size: 14px;
   border: 1px solid rgb(179, 172, 172);
}
label{
   font-weight: bolder;
}
input[type=text]{
   border: 1px solid rgb(179, 172, 172);
}
header{
   text-align:  center;
   padding: 20px 0;
   text-shadow: 0 0 0.2em rgb(1, 8, 0)
}
